h1,h2,h3,h4,p {
  color: white;
}
h1 {
    font-size: 52px;
    font-family: courier;
    margin-left: 20%;
}
a {
  color: #4f45d8;
}
body {
    background-color: black;
}
#CrusoeContainer, #SadKidContainer {
  width: 55%;
  margin: 0 auto;
}
#FunTitle {
  margin: 0 35%;
}
#CrusoeImg, #SadKidImg {
  width: 100%;
}
